@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --colors-grey-default: #f9f9f9;
  --colors-grey-dark: #e0e0e0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #171717;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

.site-container {
  margin-left: 2rem;
  margin-right: 2rem;
  width: calc(100% - 4rem);
  max-width: 1740px;
}

@media (min-width: 640px) {
  .site-container {
    margin-left: auto;
    margin-right: auto;
    width: min(90.625vw, 1740px);
  }
}

@layer utilities {
  .text-display-1 {
    /* margin-top: 30px; */
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.025em;
    font-size: clamp(1rem, 1.4rem + 3.5vw, 5.25rem);
  }

  .text-display-2 {
    /* margin-top: 15px; */
    font-weight: 300;
    line-height: 0.5;
    letter-spacing: -0.02em;
    font-size: clamp(0.6rem, 0.8rem + 2.5vw, 3.25rem);
  }

  .text-display-3 {
    margin-top: 40px;
    font-weight: 500;
    line-height: 2.5;
    letter-spacing: -0.015em;
    font-size: clamp(0.5rem, 0.8rem + 0.8vw, 1.5rem);
  }
}

@media (min-width: 1536px) {
  @layer utilities {
    /* .text-display-1 {
      font-size: clamp(2.75rem, 2.3rem + 3vw, 6rem);
    } */

    /* .text-display-2 {
      font-size: clamp(2.25rem, 1.8rem + 2.2vw, 4.5rem);
    } */

    /* .text-display-3 {
      font-size: clamp(1.75rem, 1.45rem + 1.4vw, 3.1rem);
    } */
  }
}
